@charset "UTF-8";
header nav {
  margin-left: 15px;
}
header nav ul {
  list-style: none;
}
header nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
}

.bg-dark {
  background-color: #333333 !important;
}

.navbar-dark {
  background-color: #333333 !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f5f5f5;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333333;
}

body {
  background-color: #333333;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.video {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.image-home {
  width: 250px;
  height: 120px;
  margin: 80px;
}

.parrafo2-home {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.cta-button {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.imges-home {
  display: flex;
}

.footer {
  background-color: #f5f5f5;
  color: #333333;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.derechos {
  justify-self: center;
  margin-left: 10px;
}

.footer-text {
  background-color: #f5f5f5;
  margin: 0;
}

.whatsapp {
  display: flex;
  align-items: center;
  width: 20%;
}

.whatsapp svg {
  width: 2.5rem; /* Tamaño del ícono */
  height: 2.5rem;
  fill: #333333;
  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 4px;
}

.hashtag {
  background-color: whitesmoke;
  text-align: left;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .title {
    text-align: center;
  }
  .video {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .main-photos {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .video {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
body {
  background-color: #333333;
}

main {
  margin-top: 10px;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  background-color: #333333;
}

.p-home {
  margin: 3%;
}

.main-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 80%;
  margin-left: 10%;
}
.main-photos > div:nth-child(1),
.main-photos > div:nth-child(2) {
  grid-column: span 1;
}
.main-photos > div:nth-child(3) {
  grid-column: span 2;
}
.main-photos img {
  width: 100%;
  height: auto;
}

.parrafo2-home {
  margin: 3%;
}

footer {
  text-align: center;
  color: #f5f5f5;
}

.parrafo-entrenamiento {
  margin: 2%;
  font-family: "Roboto", sans-serif;
}

.h2-entrenamiento {
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: center;
}

.image-entrenamiento {
  width: 300;
  height: 300px;
  display: grid;
  height: 80vh;
  margin-left: 30%;
  margin-right: 30%;
}

.link-instagram {
  display: inline-block; /* Se comporta como botón */
  background-color: #ffffff; /* Fondo blanco */
  color: #333333; /* Color del texto */
  border: 2px solid #333333; /* Borde de 2px */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Quita el subrayado */
  border-radius: 30px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a pointer */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
}

.preguntas-frecuentes {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.preguntas-entrenamiento {
  margin: 2%;
}

.parrafo-preguntas {
  margin: 2%;
  font-family: "Roboto", sans-serif;
}

.footer-entrenamiento {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
  .h2-entrenamiento {
    display: none;
  }
  .image-entrenamiento {
    width: 50%;
    height: auto;
  }
  .preguntas-frecuentes {
    font-size: 1.5rem;
  }
  .preguntas-entrenamiento {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.parrafo-contacto {
  margin: 3%;
  font-family: "Roboto", sans-serif;
}

.google-maps {
  margin-left: 375px;
  width: 500px;
  height: 500px;
}

.footer-contacto {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.option {
  color: #f5f5f5;
}

.contact-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.legend {
  display: inline;
  text-align: center;
}

@media (max-width: 768px) {
  .main-google-maps {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-google-maps {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .google-maps {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.nosotros-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.h2-sobre-nosotros {
  margin: 3%;
  text-align: center;
}

.h3-sobre-nosotros {
  font-size: 1.5rem;
  margin: 2%;
}

.parrafo-sobre-nosotros {
  margin: 2%;
}

.image-sobre-nosotros {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 50rem;
  margin-right: 23rem;
}

@media (max-width: 768px) {
  .h2-sobre-nosotros {
    font-size: 1rem;
    margin: 4%;
  }
}
.h3-sobre-nosotros {
  font-size: 1.2rem;
}

.parrafo-sobre-nosotros {
  font-size: 1rem;
}

.image-sobre-nosotros {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.nosotros-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.nosotros-img {
  display: block;
}

.nosotros-img:nth-child(5),
.nosotros-img:nth-child(6) {
  display: none;
}

.link-instagram {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #333333;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: trabsform 0.1s ease-in-out;
}

.nosotros-img img {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
  .h2-sobre-nosotros {
    font-size: 1.5rem;
  }
  .nosotros-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
  }
  .nosotros-img {
    display: block;
  }
  .nosotros-img:nth-child(5),
  .nosotros-img:nth-child(6) {
    display: block;
  }
  .nosotros-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .image-sobre-nosotros {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
}
@media (min-width: 1025px) {
  .nosotros-img-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
  }
  .nosotros-img:nth-child(5),
  .nosotros-img:nth-child(6) {
    display: grid;
  }
  .nosotros-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .image-sobre-nosotros {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
}
.h2-sedes {
  margin-left: 10px;
  margin-bottom: 20px;
}

.parrafo-sedes {
  margin-left: 20px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
}

.image-sede {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1px;
  padding: 20px;
  width: 500px;
  height: 500px;
}

.sedes-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) {
  .sedes-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, auto);
  }
}
@media (min-width: 1025px) and (max-width: 768px) {
  .h2-sedes {
    font-size: 1rem;
  }
}
.h2-staff {
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.parrafo-staff {
  margin: 2%;
  font-family: "Roboto", sans-serif;
}

.form-legend-staff {
  text-align: center;
}

.staff-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.footer-staff {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.imput {
  color: whitesmoke;
}

@media (max-width: 768px) {
  .h2-staff {
    display: none;
  }
  .form-legend {
    font-weight: 250;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .h2-staff {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
