.parrafo-contacto{
    margin: 3%;
       font-family: "Roboto", sans-serif;
}
.google-maps{
    margin-left: 375px;
    width: 500px;
    height: 500px;
}
.footer-contacto{
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}
.option{
    color: $color-letra
}

.contact-form{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    }
    .legend{
      display: inline;
      text-align: center;
    } 
@media (max-width: 768px){
    .main-google-maps{
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .main-google-maps {
        width: 100%; 
        height: auto;
        margin: 0;
    }
    .google-maps{
        width: 100%;
        height: auto;
        margin: 0;
    }
}
