.parrafo-entrenamiento {
    margin: 2%;
         font-family: "Roboto", sans-serif;
}

.h2-entrenamiento{
    margin-bottom: 15px;
    margin-left: 10px;
    text-align: center;
}
.image-entrenamiento{
    width:300;
    height:300px;
    display: grid;
    height: 80vh;
    margin-left: 30%;
    margin-right: 30%;
}

.link-instagram {
    display: inline-block; /* Se comporta como botón */
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Color del texto */
    border: 2px solid #333333; /* Borde de 2px */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Quita el subrayado */
    border-radius: 30px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
  }
  

.preguntas-frecuentes{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.preguntas-entrenamiento{
    margin: 2%
}
.parrafo-preguntas{
    margin: 2%;
    font-family: "Roboto", sans-serif;
}
.footer-entrenamiento{
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 768px){
    .title{
        font-size: 1.5rem;
    }
    .h2-entrenamiento{
        display: none;
    }
    .image-entrenamiento{
        width: 50%;
        height: auto;
    }
    .preguntas-frecuentes{
        font-size: 1.5rem;
    }
    .preguntas-entrenamiento{
        font-size: 1.2rem;
        font-weight:bold;
    }
}
