

.title{
    text-align: center;
    margin-bottom: 20px;
}
.video{
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
}
.image-home{
    width: 250px;
    height: 120px;
    margin: 80px;
}   
.parrafo2-home{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;   
    font-family: "Roboto", sans-serif;
}
.cta-button {
    background-color: #f5f5f5; 
    color: #333; 
    border-radius: 12px; 
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    text-align: center; 
    align-items: center;
    text-decoration: none; 
    justify-content: center;
  }

  .boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
.imges-home{
    display: flex;
}

.footer {
    background-color: $color-letra;
    color: $color-fondo;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  .derechos{
    justify-self: center;
    margin-left: 10px;
  }
  .footer-text {
    background-color:$color-letra;
    margin: 0; 
  }
  
  .whatsapp {
    display: flex;
    align-items: center; 
    width: 20%;
  }
  
  .whatsapp svg {
    width: 2.5rem; /* Tamaño del ícono */
    height: 2.5rem; 
    fill: $color-fondo; 
    background-color: $color-letra; 
    border-radius: 50%; 
    padding: 4px; 
  }
  .hashtag{
    background-color: whitesmoke ;
    text-align: left;
    margin-left: 5%; 
  }
@media (max-width: 768px) {
    .title{
        text-align: center;
    }
    .video{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .main-photos{
        display:flex;
        flex-direction: column;

    }}
@media (max-width:1023px) and (min-width:768px){
.video{ margin-left: 0;
    margin-right: 0;
    width: 100%;
}}

