.h2-staff{
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.parrafo-staff{
    margin: 2%;
    font-family: "Roboto", sans-serif;
}

  .form-legend-staff{
    text-align: center;
  } 
.staff-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  
.footer-staff{
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}
.imput{
    color: whitesmoke;
}
@media (max-width: 768px){
    .h2-staff{
        display: none;
    }
    .form-legend{
        font-weight: 250;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .h2-staff{
        font-size: 1.5rem;
    }
}


